@import "../colors.scss";
@import "../layout/responsive.scss";

.nav-bar {
    background-color: $color-1;
    display: block;
    @include responsive(height, 4rem, 3rem);

    ul {
        display: flex;
        @include container;
        @include responsive(flex-wrap, wrap, nowrap);
    }

    li {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .home {
        flex-grow: 1;
        @include responsive(width, 100%, auto);

        a {
            color: $color-2;
            font-weight: 700;
            font-size: 1.2rem;
            height: 100%;
            @include responsive(padding, 0.5rem 0.5rem, 0.9rem 0.8rem);
        }
    }

    li:not(.home) a {
        position: relative;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.8rem;
        @include responsive(padding, 0.5rem 0.5rem, 1.1rem 0.8rem);
    }

    li.is-current-page a::after,
    li:not(.home) a:hover::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-3px);
        border-bottom-width: 4px;
        border-bottom-style: solid;
    }

    .terra-2170 a {
        color: $color-3;

        &::after {
            border-bottom-color: $color-3;
        }
    }

    .darkham-horror a {
        color: $color-4;

        &::after {
            border-bottom-color: $color-4;
        }
    }
}
